@media screen and (max-width:992px) {
  body{
    padding-inline: 14px;
  }
  .buildCommunity_stats {
    display: flex;
    flex-direction: column;
    gap:2em;
  }
}

@media screen and (max-width:495px) {
  body{
    padding-inline: 14px;
  }
  .buildCommunity_stats {
    display: flex;
    flex-direction: column;
    gap:2em;
  }

  header  img {
    width: 150px;
  }
  #tryItFree {
    padding:3px 30px 0;

  }

  .buildCommunity_paragraph {
    width: 100%;
  }
}

